@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: transparent;
}

:root {
  --dark: #000;
  --dark-1: #343a40;
  --light: #ffffff;
  --primary: #9f5b2e;
  --blue: #2a5d92;
  --light-grey: #f3f3f3;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.btn {
  padding: 0.7rem 2.3rem;
  display: flex;
  align-items: center;
  height: 3rem;
  border-radius: 5px;
  transition: all 0.5s;
  font-size: 0.9rem;
  color: var(--light);
}
.btn:hover {
  transform: scale(0.93);
}
