@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
}

:root {
  --dark: #000;
  --light: #ffffff;
  --primary: #9f5b2e;
}
